<div class="radio-container">
    <label [class.active]="showDaily">
        <input type="radio" name="scoreType" value="daily" (change)="setScoreType('daily')">
        Daily
    </label>
    <label [class.active]="!showDaily">
        <input type="radio" name="scoreType" value="practice" (change)="setScoreType('practice')"
>
        Practice
    </label>
</div>

<table>
    <thead>
        <tr>
            <th>Time</th>
            <th>Attempts</th>
            @if (showDaily){ <th>Date</th> }
        </tr>
    </thead>
    <tbody>
        @for (score of scores;track score){
        <tr>
            <td>{{formatTime(score.time)}}</td>
            <td>{{score.attempts}}</td>
            @if (showDaily){ <td>{{score.date}}</td> }
        </tr>
        }
    </tbody>
</table>