:host {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

.active {
	background-color: #666;
	color: #fff;
}

div {
	background-color: #666;
	border: 2px solid #666;
	border-radius: 10px;
	display: flex;
	overflow: hidden;
}

input {
	display: none;
}

label {
	background-color: #fff;
	cursor: pointer;
	font-weight: bold;
	padding: 10px 20px;
}

table {
	background-color: #666;
	border: 2px solid #666;
	border-collapse: collapse;
	border-radius: 10px;
	font-size: larger;
	overflow: hidden;
	table-layout: fixed;
	text-align: center;
	width: 80%;
}

td {
	background-color: #fff;
	border: 2px solid #666;
	padding: 10px;
}

th {
	color: #fff;
	padding: 10px;
}
