:host {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}

div {
	align-items: center;
	background-color: var(--layer);
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	height: 80%;
	justify-content: space-evenly;
	width: 60%;
}

h2 {
	font-size: xx-large;
	font-weight: bold;
}

img {
	height: 50%;
}
