:host {
	width: 30%;
}

.active {
	background-image: linear-gradient(300deg, transparent, #fff 30%), url(/tile.webp);
}

a {
	background-image: linear-gradient(300deg, transparent, #999 30%), url(/tile.webp);
	background-size: cover;
	border: 2px solid #333;
	border-radius: 20px;
	color: #333;
	cursor: pointer;
	display: flex;
	height: 100%;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	transform: translatey(5px);
}

span {
	margin: 20px;
}
