:host {
	width: 30%;
}

.disabled {
	cursor: not-allowed;
	filter: brightness(60%);
}

button {
	background-image: linear-gradient(300deg, transparent, var(--light) 30%), url(/images/tile.webp);
	background-size: cover;
	border-radius: 20px;
	display: flex;
	font-size: x-large;
	font-weight: bold;
	height: 100%;
	padding: 20px;
	width: 100%;
}

button:hover {
	transform: translateY(5px);
}
