:host {
	align-items: center;
	display: flex;
	flex: 1;
	margin: 2px;
}

.gray {
	background-color: #666;
	border-color: transparent;
	color: #fff;
}

.green {
	background-color: #393;
	border-color: transparent;
	color: #fff;
}

.yellow {
	background-color: #c93;
	border-color: transparent;
	color: #fff;
}

span {
	align-items: center;
	aspect-ratio: 1;
	border: 3px solid #666;
	border-radius: 10px;
	display: flex;
	font-size: xx-large;
	font-weight: bold;
	height: 100%;
	justify-content: center;
	margin: 2px;
}
