:host {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-evenly;
}

button {
	border: 2px solid var(--border);
	border-radius: 10px;
	cursor: pointer;
	padding: 10px;
	width: 30%;
}

div {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 50%;
}

kbd {
	border: 1px solid #999;
	border-radius: 5px;
	box-shadow: 0 2px #999;
	font-size: x-small;
	font-weight: bold;
	padding: 2px 5px;
}

time {
	background-color: #999;
	border: 3px solid #666;
	border-radius: 10px;
	color: #333;
	font-family: digital, monospace;
	font-size: xxx-large;
	font-weight: bold;
	padding: 0 20px;
}
