:host {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 20%;
}

.big {
	aspect-ratio: 2;
}

.gray {
	background-color: #666;
	border-color: transparent;
	color: #fff;
}

.green {
	background-color: #393;
	border-color: transparent;
	color: #fff;
}

.yellow {
	background-color: #c93;
	border-color: transparent;
	color: #fff;
}

button {
	aspect-ratio: 1;
	border: 2px solid var(--border);
	border-radius: 10px;
	cursor: pointer;
	font-size: larger;
	font-weight: bold;
	height: 100%;
	margin: 2px;
}

button:hover {
	transform: translateY(2px);
}

div {
	display: flex;
	flex: 1;
	margin: 2px;
}
