:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.external {
	height: 18px;
}

.icon {
	border-radius: 50%;
	height: 40px;
	margin: 10px;
}

a {
	align-items: center;
	color: #fff;
	display: flex;
	font-size: large;
	font-weight: bold;
	margin-right: 30px;
	text-decoration: none;
}

a:hover {
	color: #bbb;
}

h1 {
	font-size: x-large;
}

header {
	background-color: #333;
	display: flex;
	justify-content: space-between;
}

main {
	background-color: #ccc;
	color: #333;
	flex: 1;
}

nav {
	display: flex;
}
