<header>
	<div class="left">
		<a routerLink="">
			<img class="icon" src="images/icon.png">
			<h1>Racele</h1>
		</a>
	</div>

	<div class="search">
		<input (input)="searchUsers()" [(ngModel)]="query" placeholder="Search users...">

		@if (searched) {
		<ul>
			@for (user of users; track user.id) {
			<li routerLink="users/{{user.id}}">{{user.username}}</li>
			} @empty {
			<span>No users found!</span>
			}
		</ul>
		}
	</div>

	<nav>
		@if (http.loggedIn) {
		<a routerLink="profile">Profile</a>
		<a routerLink="logout">Logout</a>
		} @else {
		<a routerLink="login">Login</a>
		}

		<a [class.hidden]="!dark" (click)="toggleMode()">
			<img class="mode" src="images/dark.png">
		</a>

		<a [class.hidden]="dark" (click)="toggleMode()">
			<img class="mode" src="images/light.png">
		</a>

		<a href="https://github.com/racele">
			<img class="external" src="images/github.png">
		</a>
	</nav>
</header>

<main [class.dark]="dark" [class.light]="!dark">
	<router-outlet></router-outlet>
</main>
