:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.external {
	height: 18px;
}

.hidden {
	display: none;
}

.icon {
	border-radius: 50%;
	height: 40px;
	margin: 10px;
}

.mode {
	height: 24px;
}

a {
	align-items: center;
	color: #fff;
	cursor: pointer;
	display: flex;
	font-size: large;
	font-weight: bold;
	margin-right: 30px;
	text-decoration: none;
}

a:hover {
	color: #ccc;
}

h1 {
	font-size: x-large;
}

header {
	background-color: #333;
	display: flex;
	justify-content: space-between;
}

main {
	background-color: var(--background);
	border-top: 2px solid var(--border-main);
	color: var(--color);
	flex: 1;
}

nav {
	display: flex;
}
