<div class="mode" (change)="toggleMode()">
	<label [class.active]="showDaily">
		<input name="mode" type="radio" checked>
		Daily
	</label>

	<label [class.active]="!showDaily">
		<input name="mode" type="radio">
		Practice
	</label>
</div>

<div class="table">
	<table>
		<tr>
			@if (showDaily) {
			<th>Date</th>
			}

			<th>Guesses</th>
			<th>Solution</th>
			<th>Time</th>
		</tr>

		@for (score of scores; track score) {
		<tr>
			@if (showDaily) {
			<td>{{formatDate(score.date)}}</td>
			}

			<td>{{score.guesses}}</td>
			<td>{{score.solution.toUpperCase()}}</td>
			<td>{{formatTime(score.time)}}</td>
		</tr>
		}
	</table>
</div>