@font-face {
	font-family: digital;
	src: url(/fonts/digital.ttf);
}

.dark {
	--border: #444;
	--main: #222;
	--inverted: #ddd;
	--layer: #444;
	--light: #444;
	--lighter: #666;
}

.light {
	--border: #ddd;
	--main: #ddd;
	--inverted: #222;
	--layer: #bbb;
	--light: #fff;
	--lighter: #fff;
}

* {
	all: unset;
	display: revert;
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	height: 100%;
}

button {
	background-color: var(--light);
	border: 2px solid var(--inverted);
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
}

button:hover {
	transform: translateY(2px);
}

html {
	height: 100%;
}
